app:
  name: "ws-chat-app"
  port: "8383"

hub:
  buffered_register_size: 1000
  buffered_unregister_size: 1000
  buffered_message_size: 1000
  buffered_room_size: 100
  buffered_event_size: 100000
  buffered_client_size: 5000

room:
  buffered_register_size: 1000
  buffered_unregister_size: 1000
  buffered_message_size: 100000
  buffered_client_size: 5000

logger:
  log_level: "DEBUG"
  log_output_path: "stdout"
  log_err_output_path: "stderr"
