app:
  name: "MyApp"
  port: "8080"

hub:
  buffered_register_size: 100
  buffered_unregister_size: 100
  buffered_message_size: 500
  buffered_room_size: 50
  buffered_event_size: 50
  buffered_client_size: 100

room:
  buffered_register_size: 100
  buffered_unregister_size: 100
  buffered_message_size: 500
  buffered_client_size: 100

logger:
  log_level: "info"
  log_output_path: "/var/log/myapp/output.log"
  log_err_output_path: "/var/log/myapp/error.log"
